.squid-main-sidepanel-container {
  z-index: 5;
  display: flex;
  flex-direction: column;

  flex: 1;
  height: 100%;

  background-color: var(--squid-color-1);
}

.squid-main-sidepanel-inner {
  padding: 10px;
}

.squid-sidepanel-card {
  display: flex;
  align-items: center;
  justify-content: space-around;

  cursor: pointer;
  border-radius: 30px;
  color: var(--squid-color-4);
  border: 2px solid var(--squid-color-4);

  height: 60px;
  width: 100%;

  user-select: none;
  margin-bottom: 10px;
}
