.squid-sequencer-unit {
  height: 120px;
  width: 200px;
}

.squid-sequencer-unit > .squid-sequencer-display {
  margin-top: 20px;
  height: 100px;
  width: 200px;
}

.squid-sequencer-display-position-indicator {
  stroke-width: 2px;
  stroke: var(--squid-color-3);
}
