/* VARIABLES */
:root {
  --squid-color-1: #474143;
  /* GREY */
  --squid-color-2: #ffc636;
  /* YELLOW */
  --squid-color-3: #00ada9;
  /* BLUE */
  --squid-color-4: #ffffff;
  /* WHITE */
  --squid-color-5: #ff6444;
  /* RED */
  --squid-color-6: #383436;
  /* DARK GREY */
}

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  background-color: var(--squid-color-1);
}

/* scrollback styling */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-corner {
  background: var(--squid-color-1);
}

::-webkit-scrollbar-thumb {
  background: var(--squid-color-2);
}
